<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @birthday.name %>
</p>

<p>
  <strong>Cumpleaños:</strong>
  <%= @birthday.date %>
</p>

<%= link_to 'Edit', edit_birthday_path(@birthday) %> |
<%= link_to 'Back', birthdays_path %>
